.fluid-span-1 {
  width: 5.3125%;
}

.fluid-span-2 {
  width: 11.625%;
}

.fluid-span-3 {
  width: 17.9375%;
}

.fluid-span-4 {
  width: 24.25%;
}

.fluid-span-5 {
  width: 30.5625%;
}

.fluid-span-6 {
  width: 36.875%;
}

.fluid-span-7 {
  width: 43.1875%;
}

.fluid-span-8 {
  width: 49.5%;
}

.fluid-span-9 {
  width: 55.8125%;
}

.fluid-span-10 {
  width: 62.125%;
}

.fluid-span-11 {
  width: 68.4375%;
}

.fluid-span-12 {
  width: 74.75%;
}

.fluid-span-13 {
  width: 81.0625%;
}

.fluid-span-14 {
  width: 87.375%;
}

.fluid-span-15 {
  width: 93.6875%;
}

.fluid-span-16 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 6.3125%;
}

.fluid-offset-2 {
  margin-left: 12.625%;
}

.fluid-offset-3 {
  margin-left: 18.9375%;
}

.fluid-offset-4 {
  margin-left: 25.25%;
}

.fluid-offset-5 {
  margin-left: 31.5625%;
}

.fluid-offset-6 {
  margin-left: 37.875%;
}

.fluid-offset-7 {
  margin-left: 44.1875%;
}

.fluid-offset-8 {
  margin-left: 50.5%;
}

.fluid-offset-9 {
  margin-left: 56.8125%;
}

.fluid-offset-10 {
  margin-left: 63.125%;
}

.fluid-offset-11 {
  margin-left: 69.4375%;
}

.fluid-offset-12 {
  margin-left: 75.75%;
}

.fluid-offset-13 {
  margin-left: 82.0625%;
}

.fluid-offset-14 {
  margin-left: 88.375%;
}

.fluid-offset-15 {
  margin-left: 94.6875%;
}

