body {
  background-color: #242424;
   background-image: url('../images/3D.png');
   background-repeat: repeat;
  font: 400 1.875em/0.8 Ubuntu;
  color: rgb(128, 128, 128);
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 720px;
  margin-top: auto;
  margin-bottom: auto;
}

.container .container {
  left: 0;
  right: 0;
  z-index: 28;
  width: 970px;
  margin-right: auto;
  margin-left: auto;
}

.text {
  text-align: center;
}

._button {
  display: block;
  float: left;
  width: 103.8834951456%;
  height: 33px;
  border-radius: 14px;
  font-size: 0.533em;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
}

._container {
  left: 0;
  z-index: 29;
  width: 100%;
  background-image: url('../images/FPC_1(2).png');
  background-repeat: no-repeat;
  background-size: 970px 670px;
  background-position: center center;
}

._input {
  display: block;
  float: left;
  width: 86.8421052631%;
  height: 31px;
  margin-left: 6.5789473684%;
  padding: 0 10px;
  font-size: 0.767em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(77, 77, 77);
  background-color: rgba(0,0,0,0);
}

._text {
  float: left;
  width: 96.1904761904%;
  margin-top: 2px;
  font-size: 0.7em;
  line-height: 1.38;
  color: rgb(128, 128, 128);
}

.element-1 {
  position: relative;
  float: left;
  width: 21.237113402%;
  height: 80px;
  margin: 231px 0 0 52px;
  border-radius: 16px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15) inset;
}

.element-10 {
  position: absolute;
  top: 469px;
  left: 301px;
  z-index: 15;
  width: 39.3814432989%;
  height: 33px;
}

.element-11 {
  position: absolute;
  top: 605px;
  left: 563px;
  z-index: 13;
  width: 10.9278350515%;
  height: 33px;
}

.element-12 {
  position: absolute;
  top: 606px;
  left: 302px;
  z-index: 11;
  width: 10.9278350515%;
  height: 33px;
}

.element-13 {
  position: absolute;
  top: 513px;
  left: 301px;
  z-index: 5;
  width: 39.3814432989%;
  height: 33px;
}

.element-14 {
  position: absolute;
  top: 606px;
  left: 0;
  right: 0;
  z-index: 3;
  width: 10.9278350515%;
  height: 33px;
  margin: 0 auto;
}

.element-2 {
  position: relative;
  float: left;
  width: 21.237113402%;
  height: 80px;
  margin: 232px 0 0 84px;
  border-radius: 16px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15) inset;
}

.element-3 {
  position: relative;
  float: left;
  width: 21.237113402%;
  height: 80px;
  margin: 229px 0 0 85px;
  border-radius: 16px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15) inset;
}

.element-4 {
  position: absolute;
  top: 393px;
  left: 433px;
  z-index: 27;
  width: 10.824742268%;
  height: 33px;
}

.element-5 {
  position: absolute;
  top: 329px;
  left: 728px;
  z-index: 25;
  width: 10.824742268%;
  height: 33px;
}

.element-6 {
  position: absolute;
  top: 330px;
  left: 432px;
  z-index: 23;
  width: 10.824742268%;
  height: 33px;
}

.element-7 {
  position: absolute;
  top: 330px;
  left: 145px;
  z-index: 21;
  width: 10.824742268%;
  height: 33px;
}

.element-8 {
  float: left;
  clear: both;
  width: 10.618556701%;
  height: 33px;
  margin: 82px 0 0 316px;
  border-radius: 44px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15) inset;
}

.element-9 {
  float: left;
  width: 10.618556701%;
  height: 33px;
  margin: 82px 0 0 126px;
  border-radius: 44px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15) inset;
}

.text-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 227px;
  height: 79px;
  margin: auto;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  font-size: 2.267em;
  line-height: 1.2;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.text-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 16;
  width: 227px;
  height: 79px;
  margin: auto;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  font-size: 2.267em;
  line-height: 1.2;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.text-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 18;
  width: 227px;
  height: 79px;
  margin: auto;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  font-size: 2.267em;
  line-height: 1.2;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.text-8 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 14;
  margin: auto;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.22);
  font-size: 1em;
  letter-spacing: 11px;
  color: #144505;
}

.text-9 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  margin: auto;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.22);
  font-size: 1em;
  letter-spacing: 11px;
  color: #144505;
}

.element ._button-1 {
  margin-left: -1.9417475729%;
}

.element ._button-2 {
  margin-left: 3.8834951456%;
}

.element ._input-2 {
  margin-left: 0.9433962264%;
}

.element ._input-3 {
  margin-left: 3.7735849056%;
}